@import 'tailwindcss';

@plugin '@tailwindcss/typography';


:root {
  --color-primary: rgb(0, 77, 191); 
  --color-secondary: rgb(39, 174, 96);
  --color-accent: rgb(220, 38, 38); 
  --color-text-default: #222222;
  --color-text-footer: #bbbbbb; 
  --color-bg-page: #f8f9fa; 
  --color-bg-footer: #0a0a0a;

}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-default: var(--color-text-default);
  --color-page: var(--color-bg-page);
  --color-footer: var(--color-bg-footer);
  --color-text-footer: var(--color-text-footer);

  --grid-template-columns-auto-fit-200px: repeat(auto-fit, minmax(200px, 1fr));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility tina-markdown-content--fit-content {
  * {
    width: fit-content;
  }
}

@utility tina-markdown-content {
  h1 {
    @apply text-3xl font-bold mb-4 leading-tight;
  }

  h2 {
    @apply text-2xl font-semibold mb-3 leading-snug;
  }

  h3 {
    @apply text-xl font-semibold mb-3 leading-snug;
  }

  h4 {
    @apply text-lg font-medium mb-2 leading-snug;
  }

  h5 {
    @apply text-base font-medium mb-2 leading-snug;
  }

  h6 {
    @apply text-sm font-medium mb-2 leading-snug;
  }

  p {
    @apply text-base mb-2 leading-normal;
  }

  ul {
    @apply list-disc ml-6 mb-5;
  }

  ol {
    @apply list-decimal ml-6 mb-5;
  }

  blockquote {
    @apply text-lg italic pl-4 border-l-4 border-gray-300 my-4;
  }
}


@utility btn {
  @apply inline-flex items-center justify-center rounded-full font-semibold text-center text-base leading-snug 
  transition-all duration-300 ease-out transform-gpu active:scale-95 
  focus:outline-none focus:ring-2 focus:ring-offset-2 py-3.5 px-6 md:px-8;
}

@utility btn-primary {
  @apply btn bg-primary text-white border border-primary 
  hover:bg-blue-700 hover:border-blue-800 hover:shadow-blue-400/50
  focus:ring-blue-500 focus:ring-offset-white;
}

@utility btn-secondary {
  @apply btn bg-secondary text-white border border-secondary 
  hover:bg-green-700 hover:border-green-800 hover:shadow-green-400/50
  focus:ring-green-500 focus:ring-offset-white;
}

@utility btn-tertiary {
  @apply btn bg-accent text-white border border-accent 
  hover:bg-red-700 hover:border-red-800 hover:shadow-red-400/50
  focus:ring-red-500 focus:ring-offset-white;
}
