:root {
  --color-primary: rgb(0, 77, 191);
  --color-secondary: rgb(1 84 207);
  --color-accent: rgb(109 40 217);
  --color-text-default: #333333;
  --color-text-footer: #d4d4d4;
  --color-bg-page: #faf9f6;
  --color-bg-footer: #111111;
}
