.link-button {
  border-radius: var(--border-radius-small);
  padding: 14px 24px;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: all 0.3s ease;
  background: var(--primary-color);
  &:hover {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
  }
  &:focus {
    box-shadow: none;
  }
  &__outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
  }
  &__text {
    background: transparent;
    color: var(--primary-color);
  }
}

.link-button-btn:hover {
  color: var(--primary-color);
}

.link-button-btn:focus {
  box-shadow: none;
}
